doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Rabbit Demo
      #menu
        ul
          li
            a(href='/') home
          li
            a(href='about') about    
      h2= title
    hr
    block content
  Footer
    hr
    Scalable Web Architectures - Term 2 - Katrin Hewer - FH Salzburg - 2013